.App{
    text-align: left;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.rotate{
    rotate: 90deg;
}

button{
    background-color: white;
    font-size: 20px;
    border: none;
}

.file-icon {
  margin-right: 10px; /* Adjust the spacing as needed */
}